<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	   <typeAliases>
        <!-- LoginMapper 인터페이스에 대한 별칭 -->
        <typeAlias type="koxign.login.service.impl.LoginMapper" alias="loginMapper" />

        <typeAlias type="koxign.join.service.impl.JoinMapper" alias="joinMapper" />

		<typeAlias type="koxign.partner.service.impl.PartnerServiceImpl" alias="partnerMapper"/>

		</typeAliases>
	
</configuration>